h1, h2, h3 {
  font-family: Ubuntu Mono;
  font-weight: bold;
}

.info {
  display: none;
  margin:0;
  padding:15px;
}
.infoall {
padding-left: 10%;
padding-right: 10%;
}
.search {
  flex: 0 1 auto;
  align-self: flex-start
}

.search img {
  width: 3.3em;
  height: 3.3em;
  cursor: pointer
}

.settings {
  flex: 0 1 auto;
  align-self: flex-start
}

.settings img {
  width: 3em;
  height: 3em;
  cursor: pointer
}

#settings form {
  padding: 30px
}

.favourite {
  margin: 0 auto;
  display: block
}

.spellname {
  font-family: Lora;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold
}

#inputform {
  position: relative;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-family: Ubuntu Mono;
  display: none
}

#searchbook {
  display: none
}

#neadlestring {
  width: 95%;
  vertical-align: middle;
  margin-bottom: 5px
}

html.with-featherlight {
  overflow: hidden
}

.featherlight {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2007483647;
  text-align: center;
  white-space: wrap;
  background: #333;
  background: rgba(0, 0, 0, 0)
}

.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.8)
}

.featherlight:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.featherlight-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  padding: 8px;
  text-align: left;
  background-color: white;
  z-index: 2147483647;
  overflow: auto
}

@media only screen and (max-device-width: 1900px) {
  .featherlight-content {
    width: 80%;
    height: 80%
  }
}

.featherlight-inner {
  padding-left: 15px;
  padding-right: 15px;
  display: block
}

.featherlight-inner h2 {
  color: #ff9625;
  font-size: 2em;
  font-family: Lora
}

.featherlight-inner h3 {
  font-size: 1.8em;
  font-family: Lora
}

.featherlight-inner p {
  font-size: 1.5em;
  margin-bottom: 1em
}

@media only screen and (max-device-width: 1900px) {
  .featherlight-inner {
    width: 90%;
    height: auto;
    padding-left: 8px;
    padding-right: 8px
  }
  .featherlight-inner p {
    font-size: 0.8em;
    margin-bottom: 0.5em
  }
  .featherlight-inner span {
    background-color: yellow
  }
  .featherlight-inner h2 {
    color: #ff9625;
    font-size: 1.2em;
    font-family: Lora
  }
  .featherlight-inner h3 {
    font-size: 1.1em;
    font-family: Lora
  }
}

.featherlight link.featherlight-inner, .featherlight script.featherlight-inner, .featherlight style.featherlight-inner {
  display: none
}

.featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  padding-right: 15px;
  cursor: pointer;
  text-align: center;
  font-family: Lora;
  font-size: 3em;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #c42111;
  border: 0
}

.featherlight-close-icon:hover {
  color: #92b5ff
}

.featherlight .featherlight-close-icon::-moz-focus-inner {
  border: 0;
  padding: 0
}

.featherlight-image {
  width: 100%
}

.featherlight-iframe .featherlight-content {
  border-bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll
}

.featherlight iframe {
  border: 0
}

.featherlight * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

@media only screen and (max-device-width: 1900px) {
  .archetype {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 1px;
    border: 1px solid #666;
    color: #000000;
    text-align: center;
    font: 1.5em Ubuntu Mono;
    letter-spacing: 3px;
    cursor: pointer
  }
}

.selector>label {
  display: block;
  float: left;
  width: 20%;
  vertical-align: right
}

.selector>select {
  display: block;
  width: 30%;
  vertical-align: right;
  margin-right: 20px;
  margin-top: 20px
}

.option2 {
  position: relative;
  margin: 0 auto;

  font-family: Ubuntu Mono;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center
}

@media only screen and (max-device-width: 1900px) {
  .option2 {

  }
}

.option {
  position: relative;
  margin: 0 auto;
  width: 65%;
  font-family: Ubuntu Mono;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center
}

@media only screen and (max-device-width: 1900px) {
  .option {
    width: 85%
  }
}


.optionCell, .archetypeCell {

  flex: 1 1 auto;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  box-shadow: 0 5px #999;
  padding: 5px;
  font-size: 25px;
  cursor: pointer
}

.optionCell a {
    text-decoration: none;
  color: black;
}

.optionCell, .archetypeCell:active {
  box-shadow: 0 2px #999;
  transform: translateY(4px)
}

@media only screen and (max-device-width: 1900px) {
  .optionCell, .archetypeCell {
    flex: 1 1 auto;
    padding: 3px;
    font-size: 18px
  }
}

.archetypeSelect {
  position: relative;
  width: 100%;
  text-align: center;
  display: none;
}

.hide {
  display: none
}

.spelllist a {
  text-decoration: none;
  color: #000000;
  padding: 2px
}

.spelllist a:hover {
  text-decoration: none;
  color: #ff9625
}

#table {
  table-layout: fixed;
  position: relative;
  margin: 0 auto;
  top: 1em;
  font-family: Ubuntu Mono;
  font-size: 18px;
  width: 60%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  display: none
}

@media only screen and (max-device-width: 1900px) {
  #table {
    width: 75%;
    white-space: pre-wrap;
    font-size: 14px
  }
}

#table .TableCell2 {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  border: 1px solid #AAAAAA;
  padding: 15px
}

#table .TableCell2:hover {
  cursor: pointer
}

@media only screen and (max-device-width: 1900px) {
  #table .TableCell2 {
    height: 2.5em;
    padding: 5px
  }
}

#table .TableRow {
  display: table-row
}

#table .TableBody {
  display: table-row-group
}

.help-tip {
  position: absolute;
  top: 18px;
  right: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: #000000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 30px;
  cursor: default
}

@media only screen and (max-device-width: 1900px) {
  .help-tip {
    position: relative;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 15px
  }
}

.help-tip:before {
  content: '?';
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0;
  z-index: 999;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out
}

.help-tip p {
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 30px;
  line-height: 1.4
}

@media only screen and (max-device-width: 1900px) {
  .help-tip p {
    font-size: 30px
  }
}

.help-tip p:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1E2021;
  right: 10px;
  top: -12px
}

.help-tip p:after {
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6)
  }
  100% {
    opacity: 100%;
    transform: scale(1)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 100%
  }
}

.archetype0, .archetype1, .archetype2, .archetype3, .archetype4, .archetype5, .archetype6, .archetype7, .archetype8, .archetype9, .archetype10, .archetype11, .archetype12, .archetype13, .archetype14, .archetype15 {
  color: #337ab7;
  display: none;

}

.archetype0, .archetype1, .archetype2, .archetype3, .archetype4, .archetype5, .archetype6, .archetype7, .archetype8, .archetype9, .archetype10, .archetype11, .archetype12, .archetype13, .archetype14, .archetype15 table {
   color: #337ab7;
}
table, td {text-align: center;vertical-align: center;}
table{width: 90%;margin: auto auto;}

@media only screen and (max-width: 1024px)  {
	table{
		width: 90%;
		margin: auto auto;
		font-size: 9px;
		}
}