html, body {
  margin: 0;
}

#headTable {
  padding-top:1em;
  padding-bottom: 1em;
  margin: 0 auto;
      width: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .menu {
   order: 0;
   flex: 0 1 auto;
   align-self: auto;
  }
  .title {
    order: 0;
    flex: 0 2 50%;
  }
  .search {
   order: 0;
   flex: 0 1 auto;
   align-self: auto;
  }

.title p {
  margin: 0;
  padding: 0;
  font-family: Amatic SC;
  text-align: center;
  font-size: 3em;
}

#headTable span p {
   margin: 0;
   padding: 0;
   position:relative;
   text-align: center;
   font-family: Amatic SC;
   font-size: 1.5em;
   cursor: pointer;
}

#headTable .huge {
  width: 5em;
  height: 5em;
  cursor: pointer;
}

.rightTable {
  height:100px;
  padding-right:1em;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
        }

.rightTableCell1 {
    order: 0;
   flex: 0 1 100%;
   align-self: center;
}

.rightTableCell1 p {
  margin: 0;
  padding: 0;
  position:relative;
  text-align: center;
  font-family: Amatic SC;
  font-size: 1.5em;
  cursor: pointer;
}

.rightTableCell2 {
 order: 0;
 flex: 0 1 100%;
 align-self: center;
}

.rightTableCell1 .big {
  cursor: pointer;
  width: 10em;
  height: 5em;
}
.rightTableCell2 .small {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

.spellname {
    font-family: Lora;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 2em;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay i {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #ff9625;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #92b5ff;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#inputform {
position: relative;
width: 90%;  
margin: 0 auto;
font-family: Ubuntu Mono;
display: none;

}

#searchbook {
display: none;
}





@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.7.12 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017,  Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

@media all {
  html.with-featherlight {
    overflow: hidden;
  }
  .featherlight {
    
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2007483647;
    text-align: center;
    white-space: wrap;
    background: #333;
    background: rgba(0, 0, 0, 0);
  }
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, .8);
  }
  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .featherlight-content {
    position: fixed;
    top: 7.5%;
    left: 7.5%;
    width: 85%;
    height: 85%;
    padding: 5px;
    text-align: left;
    font-size: 0.8em;
    background-color: white;
    z-index: 2147483647;
    overflow: auto;
  }
  .featherlight-content h2, h3 {
    font-family: Lora;
  }
  .featherlight .featherlight-inner {
    display: block;
  }
  .featherlight link.featherlight-inner, .featherlight script.featherlight-inner, .featherlight style.featherlight-inner {
    display: none;
     

  }
  .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    font-family: Lora;
    font-size: 3em;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    color: #000;
    border: 0;
    padding: 0;
  }
  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .featherlight .featherlight-image {
    width: 100%
  }
  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  .featherlight iframe {
    border: 0;
  }
  .featherlight * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}


}
@media print {
  html.with-featherlight>*>: not(.featherlight) {
    display: none;
  }
}
